:root {
    --first-color: #475971;
    --second-color: #B6C2D1;
    --third-color: #CED6E1;
    --fourth-color: #E7EBF0;
    --color-princ: #FFFFFF;
}

* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100vw;
}
.container {
    display: flex;
    width: 990px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}
.menu {
    display: flex;
    align-items: center;
}

nav li, .logo {
    margin: 25px;
    padding: 8px;
}

section {
    display: flex;
    height: 600px;
    justify-content: center;
}

section .home {
    display: flex;
    height: 400px;
    background-color: var(--third-color);
    border-radius: 20px;
    width: 990px;
    justify-content: center;
    align-items: center;
}
.home h1{
    text-align: center;
}
nav li:hover {
    background-color: var(--second-color);
}

